/* Account styling!  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500&display=swap');

h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #f8f2e3;
  margin-bottom: none;
}

form {
  margin-top: none;
  padding-top: none;
}
