


table {
    border: 1px solid #22302D;
    
}

.topic-lower-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 100%;
    padding: 10px;
}

.cardComponent{
    // min-height: 40vh;
    height: 40vh;
    width: 90%;
    color: #22302D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.graph{
    height: 50%;
    width: 70%;
}

