@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500&display=swap');

$darkestGray: #1e1e1e;
$darkGray: #313131;
$gray: #4d4c4c;
$pink: #BD9699;

.dashboard .navBar {
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #EFF2F3;
    margin: 0;
    border-radius: 12px;
    padding: 10px;
    min-width: 200px;
    height: calc(100vh + 130px);
}

.navBar a {
    color: $gray;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.MuiSvgIcon-root {
    color: $gray;
}

.navBar .ListItem {
    display: flex;
    gap: 12px;
    margin: 2px 0 2px 0;
    padding-left: 15px;
    height: 45px;
    border-radius: 16px;
}

.navBar .ListItem:hover, .navBar .navBarCurrent {
    background-color: $pink;
    color: white;
}

.navBar .ListItem:hover svg, .navBarCurrent svg {
    color: white;
}

