.dashboard {
    background-color: #BD9699;
    display: flex;
    gap: 20px;
    padding: 10px;
    padding-top: 20px;
    height: 100vh;
    width: 100vw;
    margin-bottom: 20px;
}

#root {
    background-color: #BD9699;
}