.dashboard {
    background-color: #BD9699;
    display: flex;
    gap: 20px;
    margin: 20px;
    height: 100vh;
    // width: 95vw;
    margin-bottom: 20px;
    position: relative;
    height: auto;
    min-height: 100vh;
}

#root {
    background-color: #BD9699;
}