#oauth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#logout {
    position: absolute;
    bottom: 20px;
    width: 200px;
}

#logout:hover {
  #logout-text {
    color: white;
  }
}